body{
    background-color:#17202A;
}
.optionButton {
    background-color: #e50914;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-style: solid;
    cursor: pointer;
    border: solid 2px #cccccc;
}

.optionButton:hover {
    background-color: #cc0000;
}

.mainHeading{
    text-align:center;
    font-weight:bold;
    font-size:40px;
    align:center;
    margin:0 auto;
    color: #FFF;
    font-family:Lucida Sans Unicode;
    fontWeight: 300;
}